/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree';
    src: url(./assets/Figtree-Regular.ttf);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
}

/* Full-screen background */
.login-background {
    background: url(./assets/login_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
}

/* Centered login form */
.login-container {
    background: rgba(0, 0, 0, 0.7);  /* Dark translucent background */
    border-radius: 10px;
    padding: 40px;
    max-width: 350px;
    width: 100%;
    color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 1px solid #888888;
}

.login-header {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

input::placeholder {
    color: #888;
}

.login-button {
    background-color: #272169;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.login-button:hover {
    background-color: #1d1a58; /* Slightly darker blue on hover */
    transform: scale(1.05); /* Grows 5% in size */
}

.signup-link {
    display: block;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.signup-link:hover {
    text-decoration: underline;
}
