* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/bg_image.jpg);
    background-color: grey;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100vh;
    padding: 0px;
}

.overlays{
    position:absolute;
    align-items: center;
    align-content: center;
    background-color: rgba(0,0,0,0.69);
    height: 100%;
    width: 100%;
}

.StudIT{
    position:absolute;
    font-family: "Figtree";
    src: url(./assets/Figtree-Light.ttf);
    top: 10px;
    left: 30px;
    text-decoration: ;
}

.Welcome_message {
    list-style: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 600px;
    top: 300px;
    left: 460px;
    transition: transform 0.3s ease;
}


.Welcome_message:hover {
    transform: scale(1.1);
}

.Welcome_message a{
    color: white;
    text-decoration: none;
}

.M1{
    font-family: "Monarque";
    font-style: italic;
    font-weight: 4s00;
    font-size: 86px;
    src:url(./assets/Monarque/Monarque-Light.otf);
    text-align: center;
}

.M2{
    font-family: "Sequel-Sans";
    src:url(./assets/Sequel_sans_ttf/Sequel\ Sans\ Black\ Disp.ttf);
    font-weight: 100;
    font-style:normal;
    font-size: 86px;
    text-align: center;
}