{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudIT</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<body>
    <h1 class="StudIT"><a href="{% url 'home' %}">StudIT</a></h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Welcome, {{ user.username }}</li>
                <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
</body>
</html>
